.chatView {
  position: relative;
  border-radius: 8px 8px 28px 28px;
}

.chatView > .capture {
  border-radius: 8px 8px 28px 28px;
}

.chatView > img {
  cursor: pointer;
}

.chatView_timer {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}
