.webcamCapture {
  position: relative;
}

.webcamCapture > .webcam {
  position: relative;

  border-radius: 8px 8px 28px 28px;
}

.webcamCapture__button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  color: white;
}
